---
import { Categories } from "../enums/categories";
import dayjs from "../utils/dayjs";
import Button from "./Button.astro";

interface NewsCardsProps {
  title: string;
  description: string;
  image: {
    id: string;
    description: string;
  };
  publication_date: string;
  category: string;
  pdf_file: string;
}

const {
  title,
  description,
  image: { id, description: alt },
  publication_date,
  category,
  pdf_file,
} = Astro.props as NewsCardsProps;

const DIRECTUS_BASE = import.meta.env.PUBLIC_DIRECTUS_URL;
---

<div class="news-card">
  <img
    src={`${DIRECTUS_BASE}/assets/${id}?width=720&height=720&format=webp`}
    alt={alt}
    width="720"
    height="720"
    loading="lazy"
    decoding="async"
  />

  <p class="news-category">{category}</p>
  <p class="news-publication-date">
    {dayjs(publication_date).format("MMMM YYYY")}
  </p>
  <h3 class="news-title">{title}</h3>
  <p class="news-description">{description}</p>
  <Button
    variant="secondary"
    href={`${DIRECTUS_BASE}/assets/${pdf_file}`}
    iconPosition="right"
    iconName="download"
    class="see-news-btn"
  >
    {category === Categories.Press ? "Accéder à l'article" : "Consulter le PDF"}
  </Button>
</div>

<style lang="scss">
  @use "../styles/abstracts";

  .news-card {
    img {
      height: auto;
    }

    .news-category {
      @include abstracts.typography(abstracts.$font-paragraph, 20px, 32px, 700);
      color: abstracts.$color-blue-tint-1;
      text-transform: uppercase;
      margin-top: abstracts.rem(8px);
    }

    .news-publication-date {
      text-transform: capitalize;
      margin-top: abstracts.rem(8px);
    }

    h3 {
      margin-block: abstracts.rem(8px);
      @include abstracts.typography(abstracts.$font-title, 20px, 24px, 700);
    }

    .see-news-btn {
      margin-top: abstracts.rem(20px);
      width: 100%;
    }
  }
</style>
