---
import dayjs from "../../utils/dayjs";
import type { ButtonProps } from "../../types/directus";
import Button from "../Button.astro";
import bgImage from "../../assets/background-call-for-projects.jpg";

interface CallForProjectsProps {
  id: string;
  item: {
    image: string;
    title: string;
    description: string;
    button: ButtonProps[];
    label_submission_period: string;
    start_submission_period: string;
    end_submission_period: string;
  };
}

const { item } = Astro.props as CallForProjectsProps;
---

<section style={`--bg: url(${bgImage.src})`}>
  <div class="container">
    <h2>{item.title}</h2>
    <div
      class="content richText container-reading-comfort"
      set:html={item.description}
    />
    <Button
      variant={item.button[0].item.variant}
      iconPosition="right"
      iconName="right"
      href={item.button[0].item.href}>{item.button[0].item.label}</Button
    >
    <p class="submission-period-label">{item.label_submission_period}</p>
    <p class="submission-period">
      {dayjs(item.start_submission_period).format("D MMMM YYYY")} - {
        dayjs(item.end_submission_period).format("D MMMM YYYY")
      }
    </p>
  </div>
  <svg
    class="spike"
    width="1440"
    height="40"
    viewBox="0 0 1440 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    preserveAspectRatio="none"
  >
    <path
      d="M1440 40H0V0H1040C1079.96 0 1110.86 11.0892 1140 34C1169.14 11.0892 1200.04 0 1240 0H1440V40Z"
      fill="white"></path>
  </svg>
</section>

<style lang="scss">
  @use "../../styles/abstracts";

  section {
    background-color: abstracts.$color-primary;
    color: abstracts.$color-blue-tint-3;
    padding-inline: abstracts.rem(20px);
    padding: abstracts.rem(40px) 0 abstracts.rem(80px);
    position: relative;

    h2 {
      margin: 0 0 abstracts.rem(16px);
      color: abstracts.$color-silver;
    }

    .ui-btn {
      max-width: abstracts.rem(320px);
      width: 100%;
      margin-bottom: abstracts.rem(16px);
    }

    .ui-icon {
      fill: abstracts.$color-primary;
    }

    .submission-period-label {
      @include abstracts.typography(abstracts.$font-paragraph, 14px, 20px, 400);
    }

    .submission-period {
      @include abstracts.typography(abstracts.$font-paragraph, 16px, 20px, 700);
      margin-top: abstracts.rem(12px);
    }

    .spike {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 15px;
    }
  }

  @include abstracts.respond-above(md) {
    section {
      .content {
        @include abstracts.typography(
          abstracts.$font-paragraph,
          18px,
          28px,
          400
        );
      }

      .spike {
        height: 30px;
      }
    }
  }

  @include abstracts.respond-above(lg) {
    section {
      background: var(--bg) center/cover no-repeat;

      .spike {
        height: 35px;
      }
    }
  }

  @include abstracts.respond-above(xl) {
    section {
      .spike {
        height: 40px;
      }
    }
  }
</style>
