---
import { Image } from "astro:assets";

import quoteImg from "../../assets/quote.png";
import waveImg from "../../assets/wave_mobile.png";

import Breadcrumb from "../Breadcrumb.astro";

interface HeroBannerProps {
  id: string;
  item: {
    image_mobile?: {
      id: string;
      description: string;
    };
    image_desktop?: {
      id: string;
      description: string;
    };
    is_home_page: boolean;
    breadcrumb?: string;
    texte?: string;
    auteur?: string;
    content: string;
  };
  slug: string;
  pageTitle: string;
}

const {
  item: {
    image_mobile,
    image_desktop,
    is_home_page,
    texte,
    auteur,
    breadcrumb,
    content,
  },
  slug,
  pageTitle,
} = Astro.props as HeroBannerProps;

const heightLarge = is_home_page ? "600px" : "460px";

const DIRECTUS_URL = import.meta.env.DIRECTUS_URL;
---

<section class="hero-banner">
  {
    image_mobile && image_desktop ? (
      <div class="hero-banner-top">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset={`${DIRECTUS_URL}/assets/${image_desktop.id}?width=1600&format=webp`}
            type="image/webp"
          />

          <img
            srcset={`${DIRECTUS_URL}/assets/${image_mobile.id}?width=992&format=webp`}
            alt={image_mobile.description}
            loading="lazy"
            class="banner-img"
            style={`--h-lg:${heightLarge};`}
          />
        </picture>
      </div>
    ) : null
  }

  <div class="hero-banner-bottom">
    <div class="container">
      {
        texte || auteur ? (
          <div class="hero-banner-quote-wrapper">
            <Image
              src={quoteImg}
              alt="Icone de guillemet ouvrant"
              aria-hidden="true"
              class="quote-img"
            />

            {texte ? <h1 class="hero-banner-texte">“{texte}”</h1> : null}
            {auteur ? <p class="hero-banner-author">- {auteur}</p> : null}
          </div>
        ) : null
      }

      {breadcrumb ? <Breadcrumb slug={slug} pageTitle={pageTitle} /> : null}

      {content ? <div class="hero-banner-content" set:html={content} /> : null}

      <Image
        src={waveImg}
        alt="Icone d'une forme géométrique"
        aria-hidden="true"
        class="wave-img"
      />
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/abstracts";

  $depth: 80;
  $spread: 220;
  $offset-right: 300;

  $centerX: 1440 - $offset-right;
  $start: $centerX - $spread;
  $end: $centerX + $spread;

  .hero-banner {
    .hero-banner-top {
      position: relative;
      max-width: 1440px;
      margin: auto;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 40px;
        pointer-events: none;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 120' preserveAspectRatio='none'><path fill='%23ffffff' d='M0,0 H#{$start} A #{$spread} #{$depth} 0 0 1 #{$centerX},#{$depth} A #{$spread} #{$depth} 0 0 1 #{$end},0 H1440 V120 H0 Z'/></svg>")
          center bottom/100% 100% no-repeat;
      }

      .banner-img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 280px;
      }
    }

    .hero-banner-bottom {
      .quote-img {
        width: 59px;
        height: 49px;
        position: relative;
        z-index: 1;
      }

      .hero-banner-quote-wrapper {
        margin-top: abstracts.rem(-60px);
      }

      .hero-banner-texte {
        text-align: center;
        margin: abstracts.rem(7px) 0 abstracts.rem(12px);
      }

      .hero-banner-author {
        text-align: right;
        @include abstracts.typography(
          abstracts.$font-paragraph,
          14px,
          20px,
          700
        );
      }

      .hero-banner-content {
        :global(a) {
          text-decoration: underline;
          color: abstracts.$color-primary;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }

      :global(.hero-banner-content h1) {
        margin: abstracts.rem(20px) 0 abstracts.rem(16px);
      }
    }

    .wave-img {
      margin-top: abstracts.rem(20px);
    }
  }

  @include abstracts.respond-above(md) {
    .hero-banner {
      .hero-banner-top {
        .banner-img {
          height: 380px;
        }
      }

      .hero-banner-bottom {
        .hero-banner-author {
          @include abstracts.typography(
            abstracts.$font-paragraph,
            28px,
            40px,
            700
          );
        }
      }
    }
  }

  @include abstracts.respond-above(lg) {
    .hero-banner {
      .hero-banner-top {
        .banner-img {
          height: var(--h-lg);
        }
      }

      .wave-img {
        margin-top: abstracts.rem(40px);
      }
    }
  }
</style>
