---
import type { ButtonProps } from "../../types/directus";
import Button from "../Button.astro";
import NewsCard from "../NewsCard.astro";

interface News {
  id: string;
  collection: string;
  item: {
    id: string;
    image: {
      id: string;
      description: string;
    };
    title: string;
    description: string;
    publication_date: string;
    category: {
      id: string;
      name: string;
    };
    pdf_file: {
      id: string;
    };
    button_link: ButtonProps[];
  };
}

interface NewsTeaserProps {
  id: string;
  item: {
    title: string;
    description: string;
    news: News[];
  };
}

const { item } = Astro.props as NewsTeaserProps;

const news = item?.news?.map((n) => n.item);
---

<section>
  <div class="container">
    <h2>{item.title}</h2>
    <p>{item.description}</p>

    {
      news.length > 0 ? (
        <ol id="news-list" class="news-cards-wrapper" data-expanded="false">
          {news.map((n) => (
            <li>
              <NewsCard
                title={n.title}
                description={n.description}
                image={n.image}
                publication_date={n.publication_date}
                category={n.category.name}
                pdf_file={n.pdf_file?.id}
                button_link={n.button_link}
              />
            </li>
          ))}
        </ol>
      ) : null
    }

    <div class="all-news-cta">
      <Button
        variant="tertiary"
        iconPosition="right"
        iconName="plus"
        type="button"
        class="toggle-all-news"
        aria-controls="news-list"
        aria-expanded="false"
        href="/actualites"
      >
        Voir toutes les actualités
      </Button>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/abstracts";

  section {
    padding-block: abstracts.rem(60px);

    h2 {
      margin: 0 0 abstracts.rem(16px);
    }

    .news-cards-wrapper {
      padding-top: abstracts.rem(40px);
      display: grid;
      grid-template-columns: repeat(auto-fill, 320px);
      grid-gap: abstracts.rem(32px);
      justify-content: center;
    }

    :global(.news-cards-wrapper > li:nth-child(n + 2)) {
      display: none;
    }

    .all-news-cta {
      display: flex;
      justify-content: center;
      margin-top: abstracts.rem(20px);
    }
  }

  @include abstracts.respond-above(md) {
    section {
      :global(.news-cards-wrapper > li:nth-child(n + 2)) {
        display: block;
      }
    }
  }

  @include abstracts.respond-above(xl) {
    section {
      .all-news-cta {
        margin-top: abstracts.rem(80px);
      }
    }
  }
</style>
